.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

#refresh-btn {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 62px;
    min-width: 120px;
}

.league-block {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
}

.league-name {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.match {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.match:last-child {
    border-bottom: none;
}

.match-teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.match-score {
    text-align: center;
    color: #666;
}

.match-time {
    font-size: 0.9em;
    color: #888;
    margin-top: 5px;
}

.controls {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

#date-picker {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 40px;
}

.clickable-score {
    cursor: pointer;
    color: #0066cc;
}

.clickable-score:hover {
    text-decoration: underline;
}

.team-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    object-fit: contain;
}

.team-icon[src="icons/default.png"] {
    opacity: 0.5;  /* Делаем заглушку полупрозрачной */
}

body {
    transform: scale(1.25);
    transform-origin: center top; /* Устанавливаем точку отсчета для масштабирования */
    width: 100%; /* Устанавливаем ширину на 100% */
    overflow-x: hidden; /* Скрываем горизонтальную прокрутку */
    overflow-y: auto; /* Позволяем вертикальную прокрутку */
}

.team-block {
    display: flex;
    align-items: center;
    flex: 1;
}
