# Ignore everything
*

# But not these files...
!.gitignore
!icons/
!index.html
!PRD.txt
!project.py
!README.md
!script.js
!styles.css
!test*
!requirements.txt

# Even if they are in subdirectories
!*/

# But still ignore some paths...
stuf/
.git/